body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
a{
    text-decoration: none;
    color: #222;

}
/* 搜索模块 */
.search-index{
    display: flex;
    position:fixed;
    top:0;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: #f6f6f6;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
   /* background-color: rgb(222, 137, 10); */
}
.search{
    flex:1;
   width: 16px;
   height: 26px;
   line-height: 24px;
   border: 1px #ccc solid ;
   margin: 6px 9px;
   border-radius: 5px;
   position: relative;
   font-size: 12px;
   color: #000;
   padding-left: 26px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.search::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
 
    width: 15px;
    height: 15px;
    line-height: 15px;
    background:url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}

div{
    box-sizing: border-box;
}
.user{
    width: 44px;
    height: 44px;
    /* background-color: pink; */
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    /* 精灵图user的图标位置 */
    background: url(../images/sprite.png) no-repeat -59px -193px;
    background-size: 104px auto;
    margin: 4px auto 0;

}
/* focus */
.focus{
    margin-top: 44px ;
}
.focus img{
    width: 100%;
}
/* local-nav */
.local-nav{
    display:flex ;
    height: 64px;
    margin: 3px 4px;
    background-color:#fff;
    border-radius: 4px;
}   

.local-nav li{
    flex: 1;
    /* background-color: #2eaae0; */
}
.local-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
     font-size: 12px;
}
.local-nav li [class^='local-nav-icon']{
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local-nav li .local-nav-icon-icon2{
    background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3{
    background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4{
    background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5{
    background-position: 0 -128px;
}
nav{
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
}
.nav-common{
    height:  88px;
    /* background-color: pink; */
    display: flex;

    /* flex-direction: column; */
}
.nav-common:nth-child(2){
    margin: 3px 0px;

}
.nav-items{
    /* flex布局，它既可以是子，又可以是父 */
    /* 相对于nav-common来讲 */
    flex: 1;
    /* 相对于nav-items来讲 */
    display: flex;
    flex-direction: column;
}
.nav-items a{
flex: 1;
text-align: center;
line-height: 44px;
color: #fff;
font-size: 14px;
text-shadow: 1px 1px rgba(0, 0, 0,.2);
border-bottom: 1px #fff solid;

}
.nav-items:nth-child(-n+2){
    border-right: 1px #fff solid;
}
.nav-items:nth-child(1) a{
    /* border-bottom: 1px #fff solid; */
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav-items img{
    height: 44px;
    /* width: ; */
}
/* 设置线性背景颜色 (起始方向 左边颜色 右边颜色)*/
.nav-common:nth-child(1){
    background:-webkit-linear-gradient(left, #FA5A55, #FA994D);
    /* background: -ms-linear-gradient(left ,red ,orange); */
}
.nav-common:nth-child(2){
    background:-webkit-linear-gradient(left, #4B90ED, #53BCED);
}
.nav-common:nth-child(3){
    background:-webkit-linear-gradient(left, #34C2A9, #6CD559);
}

.subnav-entry{
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    margin: 0 4px;
    padding: 5px 0;
    background-color: #fff;
}
.subnav-entry li{
    /* flex可以写百分比，让子元素占据20%空间  多的换行*/
    flex: 20%;
}
.subnav-entry  a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry-icon{
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background-color: pink;
    background: url(../images/subnav-bg.png) no-repeat ;
    background-size: 28px auto;
}

/* 销售模块 */
.sales-box{
 
border-top: 1px solid #bbb ;
background-color: #fff;
margin:  4px;
}
.sales-hd{
    height: 44px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.sales-hd h2{
    text-indent: -999px;
    overflow: hidden;
    /* background: url(../images/); */
}
.sales-hd h2::after{
    position: absolute;
    top: 10px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more{
    position: absolute;
    right: 5px;
    top: 3px;
    background: -webkit-linear-gradient(left,#FF506C,#FF6BC6);
    border-radius:15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}
.more::after{
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    /* 利用边框旋转45°得到箭头 */
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.row{
    display: flex;
}
.row a{
    flex: 1;
    border-bottom: 1px solid #eee;
}
.row a img{
    width: 100%;
}
/* 每一行里的第一个a 右边框  共3行*/
.row a:nth-child(1){
    border-right: 1px solid #eee;
}
.nav-bottom{
    margin-top: 5px;
    background-color: #fff;
    display: flex;
    margin: 0 4px;
    /* position: relative; */
}
.nav-bottom li{
    flex: 1;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.nav-bottom span::before{
    content: "";
    display: block;
    /* width: 20px; */
    height: 20px;
    background-color: #b5a1a1;
    margin-bottom: 3px;
}